/* GENERALI */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    color: white;
    position: relative;
    text-transform: capitalize;
    font-size: 0.7em;
}


/* HEADER */
header{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: flex-start;
    padding-right: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    z-index: 1000;
}
.header-btn{
    cursor: pointer;
    margin-top: 5px;
    padding: 5px;
    background-color: gray;
    border-radius: 3px;
}


/* MAIN */
main{
    padding: 1vh 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 50px;
    height: calc(100vh - 120px);
    background-color: black;
    overflow-y: auto;
    row-gap: 7px;
    column-gap: 4px;
}
.box{
    height: 110px;
    flex-basis: 190px;   /* width */
    background: url(https://picsum.photos/190/110) no-repeat center;
    position: relative;
}
.box div{
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}
nav{
    display: flex;
    flex-flow: row wrap;
    height: 70px;
    /* background-color: red; */
    background-color: #222222;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.nav-center{
    flex-grow: 1;
}
.nav-left{
    flex-grow: 0;
}

.btn-menu{
    margin-left: 10px;
}
.nav-right{
    flex-grow: 0;
    margin-right: 20px;
}
.nav-btn-container{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 15px;
}
.nav-section{
    justify-content: center;
    display: flex;
    align-items: center;
}

.nav-section .nav-btn i{
    font-size: 2em;
    margin-bottom: 5px;
}


.nav-right{
    align-self: stretch;
    background-color: #4A4A4A;
    color: red;
    padding: 0 20px;
    margin: 0;
}
.fa-share-from-square{
    color: #4BC800;
}
